{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center">
                    <h2>{{ game.name }}</h2>
                    <img src="{{ game.image }}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-8">
                <h5>{{ game.description }}</h5>
                <br>
                <h4><strong>{{ game.company }} - <i>{{ game.release_year }}</i></strong></h4>
                <h5>Average Rating: {{ game.avg_rating }}/10</h5>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}