{% extends 'main/base.html' %}

{% block content %}
<br>
<div class="container">
    <div class="card">
        <div class="body">
            <div class="row">
                {% for game in games %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center"><img src="{{ game.image }}" alt="" class="img-fluid" width="75%"></div>
                            
                            <h4 class="text-center">{{ game.name }}</h4>
                            <div class="text-center">
                                <strong>{{ game.company }}</strong>
                                <br>
                                <i>{{ game.release_year }}</i>
                            </div>
                            <a href="{% url 'main:detail' game.id %}">More info</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}